.padd {
  padding: 50px 0;
}
.about {
  background-color: #f1f1f1;
}

.about-heading-2 {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #152d41;
  text-align: left;
}

.about-employee {
    display: flex;
    align-items: center;
  }

.about-employee:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: right;
}
