.offers {
  background-color: #405d78;
}

.offer-heading-1 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 50px;
  font-weight: bold;
}

.offers-wrapper {
  width: 720px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
