.about-employee {
  display: flex;
  align-items: center;
}

.about-employee-pic {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.about-employee-pic-woman {
  background-image: url(https://img.freepik.com/darmowe-zdjecie/widok-z-boku-kobiety-pozuje-na-krzesle_23-2149915943.jpg);
}

.about-employee-pic-man {
  background-image: url(https://img.freepik.com/darmowe-zdjecie/brunet-mezczyzna-w-okraglych-okularach-i-bialej-koszuli_273609-19360.jpg);
}

.about-employee-desc:nth-of-type(even) {
  margin-right: 54px;
  margin-left: 54px;
}

.about-employee:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.about-employee-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 21px;
}
